/* ADDED NEW FONT */
@import url('https://use.typekit.net/cux2gpc.css');

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
font-family: "alphabet-soup-pro", sans-serif;  
font-size: 20px;
margin: 0;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

input:focus,
button:focus {
  outline: none;
}

/*HEADER DETAILS */

header {
    /* CHANGED BACKGROUND IMAGE */
  background-image: url('https://images.unsplash.com/photo-1591287968288-394880ef65a0?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  position: relative;
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*CHANGED BACKGROUND COLOR FOR HERO IMAGE*/
  background-color: rgba(7, 65, 80, 0.4);
}


header * {
  z-index: 1;
}

header h1 {
  margin: 0 0 30px;
}

/* FORM DETAILS */

form {
  position: relative;
  width: 500px;
  max-width: 100%;
}

form input {
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
}

/*ADJUSTED PLACEHOLDER TEXT*/
input::placeholder {
    color: rgb(27, 75, 146);
    opacity: 0.5;
      background-color: #fff;
font-style: italic;
}

/*CHANGED STYLING*/
form button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #18a4bd;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 13px 30px;
}

/* Injecting the btn class via JS */
.btn {
  background-color: #8d56fd;
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 4px 10px;
}

/* We won't see these styles until we fetch the data from the API */
ul.songs {
  list-style-type: none;
  padding: 0;
}

ul.songs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.container {
  margin: 30px auto;
  max-width: 100%;
  width: 500px;
}

/*Adjusted font weight to match imported font*/
.container h2 {
  font-weight: 400;
}

.container p {
  text-align: center;
}

/* Previous and Next buttons have a class of centered */
.centered {
  display: flex;
  justify-content: center;
}

.centered button {
  transform: scale(1.3);
  margin: 15px;
}